body {
    margin: 0 auto;
    padding: 0;
    background: #e7e7e7;
    max-width: 768px;
    font-family: 'Roboto Mono', monospace;
}

h1{
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
}

.navbar {
    color: #fff;
    padding: 10px;
    position: fixed;
    height: 40px;
    z-index: 10;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 3px;
    padding: 20px;
}

.burger-menu {
    display: none;
    cursor: pointer;
}
.logo{
    display: flex;
    justify-content: center;
    position: fixed;
    top: -15px;
    left: 50%;
    right: 50%;
    z-index: 33;
    letter-spacing: 3px;
    font-weight: 600;
}

/* @media screen and (max-width: 768px) { */
    .nav-list {
        display: none;
        flex-direction: column;
        background-color: #000000d6;
        position: absolute;
        top: 50px;
        z-index: 1;
        align-items: center;
        border-radius: 0 30px 30px 0;
        justify-content: center;
        margin-left: -10px;
    }

    .nav-list.show {
        display: flex;
    
    }

    .burger-menu {
        display: block;
    }
/* } */
.profile-info{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.profile-photo{
    width: 100%;
    height: auto;
    filter: grayscale(1);
}
.profile{
    width: 90%;
    height: 100%;
    position: absolute;
    background-image: url(image/sticker.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 70% 0 0 0;

}
.over{
    background-color: #fff;
    height: 100%;
    width: 90%;
    position: absolute;
    margin: 126.7% 0 0 0;
}
.photo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: 10%;
    bottom: 50%;
}
.name{
    margin: 10% 0 0 10%;
    letter-spacing: 2px;
}
.over li{
    list-style-type: none;
    margin: 0 0 0 10%;
}
.pin{
    width: 20px;
    margin: 5px 5px -4px 0;
}
.menu{
    width: 35px;
    height: 35px;
}


.image-button {
    background: url("image/plus.svg") no-repeat center center;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    background-size: cover;
    position: absolute;
    right: 5%;
    top: 0;
  }

  .image-button:hover {
    background: url("image/done.svg") no-repeat center center;
    background-size: cover;
    border: none;
  }
  .button-info{
    background-color: #fff;
    display: flex;
    justify-content: center;
    z-index: 1;
    position: absolute;
    bottom: 20%;
    width: 80%;
    
  }
  .btn-info{
    flex: 1;

    height: 50px;
    margin: 5px;
    border-color: rgba(12, 12, 12, 0.596);
    cursor: pointer;
    border-radius: 20px;
    background-color: #ffffff00;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    font-weight: 300;
    border: 1px solid;
  }
  .btn-info:hover{
    background-color: #e7e7e7;
    border: none;
    box-shadow: 0px 5px 10px 0px #0000004a
  }
  .photo-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    position: relative;
    justify-items: center;
    margin: 0 5%;
    background-color: #fff;
    padding: 10px;
    grid-auto-flow: dense;
    align-items: center;
}

.photo-container img {
    width: 100%; 
    height: auto; 
    border-radius: 30px;
}
.categories{
    position: relative;
    display: flex;
    justify-content: center;
    background: #fff;
    margin: 0 5% 0;
    padding: 5% 0 0;
}
.gallery {
    display: flex;
    width: 90%;
    overflow: hidden;
    transition: transform 0.5s;
    justify-content: center;
    background: rgb(255, 255, 255);
    align-items: center;
    margin: 0 5%;
    height: 300px;
    position: relative;
  }
  
  .block {
    width: 70%;
    height: 200px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 18px;
    transform: translateX(0);
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0;
    border-radius: 25px;
    background: linear-gradient(-45deg, #b9aeaa, #a59b9f, #6e7070, #dadada);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
  }

  .block.hidden {
    display: none;
  }
  
  .prev-button, .next-button {
    background-color: #fff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .prev-button {
    margin-right: 10px;
    left: 5%;
    position: absolute;
    background-image: url(image/prev.svg);
    background-size: cover;
    height: 50px;
    width: 50px;
  }
  
  .next-button {
    margin-left: 10px;
    right: 5%;
    position: absolute;
    background-image: url(image/next.svg);
    background-size: cover;
    height: 50px;
    width: 50px;
  }
  .pin-blog{
    width: 40px;
    margin: 5%;
    display: flex;
    filter: drop-shadow(2px 4px 6px black);
}
.blog{
    margin-left: 40%;
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 0;
}
.block p{
    font-size: small;
    text-align: center;
    color: #fff;
    margin: 5px;
}

.btn-section{
    width: 100%;
    height: 50px;
    margin: 15px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background: #a4a4a426;
    box-shadow: #33333373 0px 5px 7px 0px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 15px;
}
.active-button {
    background-color: #000000;
    color: #fff;
    font-weight: bold;
}
.btn-block{
    display: flex;
    justify-content: center;
    background-color: #fff;
    margin: 0 5%;
}


.mymus {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    margin: 0 5%;
  }
   
  .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
  }
   
  .track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 15%;
  }
   
  .now-playing {
    font-size: 1rem;
  }
   
  .track-name {
    font-size: 3rem;
  }
   
  .track-artist {
    font-size: 1.5rem;
  }
   

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
   
  .playpause-track,
  .prev-track,
  .next-track {
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
  }
   

  .playpause-track:hover,
  .prev-track:hover,
  .next-track:hover {
    opacity: 1.0;
  }
   

  .slider_container {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   

  .seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
   

  .seek_slider::-webkit-slider-thumb,
  .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
  }
   

  .seek_slider:hover,
  .volume_slider:hover {
    opacity: 1.0;
  }
   
  .seek_slider {
    width: 60%;
  }
   
  .volume_slider {
    width: 30%;
  }
   
  .current-time,
  .total-duration {
    padding: 10px;
  }
   
  i.fa-volume-down,
  i.fa-volume-up {
    padding: 10px;
  }
   

  i.fa-play-circle,
  i.fa-pause-circle,
  i.fa-step-forward,
  i.fa-step-backward {
    cursor: pointer;
  }